<%- include('partials/header.ejs') %>

<div id="main">
    <div id="doubts1">
    <div id="doubtimg">
       <div id="dbtimgr">
           <img src="https://www.pw.live//version14/assets/img/logo.png" alt="">
       </div>
       <div id="dbtimg">
           <img src="https://chetanagarwal.com/wp-content/uploads/2022/09/l2220220713165938.jpeg" alt="">
       </div>
       <h2>Dream Job Ki Khwaish <br> PW Karega Poora!</h2> 
   </div>
    
   <h1>Ask a question. Get a verified answer.</h1>
   <input class="dbtsearch" type="text" placeholder="Search"> 
     <h1>Why Ask Doubt?</h1>
     <div id="dbtdivs">
       <div class="detdiv">
           <div class="circle"></div>
           <div class="dettext">
               <h2>40 Lakh + Questions</h2>
               <!-- <p>View answers to all your questions without any hassle</p> -->
           </div>
       </div>
       <div class="detdiv">
           <div class="circle"></div>
           <div class="dettext">
               <h2>Verified Answers</h2>
               <!-- <p>Get expert answers so you don’t waste time</p> -->
           </div>
       </div>
       <div class="detdiv">
           <div class="circle"></div>
           <div class="dettext">
               <h2> 500+ Textbook Solution</h2>
               <!-- <p>Browse ques from all popular textbooks of your grade</p> -->
           </div>
       </div>
       <div class="detdiv">
           <div class="circle"></div>
           <div class="dettext">
               <h2>Instant Solution</h2>
               <!-- <p>Get answer to your question Instantly</p> -->
           </div>
       </div>
       <div class="detdiv">
           <div class="circle"></div>
           <div class="dettext">
               <h2>40 Lakh + Questions</h2>
               <!-- <p>View answers to all your questions without any hassle</p> -->
           </div>
       </div>
     </div>
     </div>
   
   
   
       </div>
<%- include('partials/footer.ejs') %>
