<%- include('partials/header.ejs') %>
<div id="main">
  
   <div id="livsec">
       <h1>Join the <span>Live</span> Session</h1>
   
       <div id="livesec1">
   <div id="live">
       <video autoplay  src="../images/WhatsApp Video 2023-03-21 at 10.50.27.mp4" ></video>
       <div id="div">
       <video id="vid"></video>
   </div>
   </div>
   <button id="but" autoplay>
       <i class="ri-volume-mute-line" style="font-size: 20px;"></i></button>
   <button id="but" autoplay>
       <i class="ri-webcam-line" style="font-size: 20px;"></i>
   </button>
   <!-- --------LIVE CHAT BOX------------ -->
   <div id="livechat">
       <section class="msger">
           <header class="msger-header">
             <div class="msger-header-title">
               <i class="fas fa-comment-alt"></i> Ask Your Doubts
             </div>
             <div class="msger-header-options">
               <span><i class="fas fa-cog"></i></span>
             </div>
           </header>
         
           <main class="msger-chat">
             <div class="msg left-msg">
               <div
                class="msg-img"
                style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"
               ></div>
         
               <div class="msg-bubble">
                 <div class="msg-info">
                   <div class="msg-info-name">Chat GPT</div>
                   <div class="msg-info-time">12:45</div>
                 </div>
         
                 <div class="msg-text">
                   Hi, welcome to Chatgpt! Go ahead and send me a message. 😄
                 </div>
               </div>
             </div>
         
             <div class="msg right-msg">
               <div
                class="msg-img"
                style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
               ></div>
         
               <div class="msg-bubble">
                 <div class="msg-info">
                   <div class="msg-info-name">Shravni</div>
                   <div class="msg-info-time">12:46</div>
                 </div>
         
                 <div class="msg-text">
                   You can change your name in JS section!
                 </div>
               </div>
             </div>
           </main>
         
           <form class="msger-inputarea">
             <input type="text" class="msger-input" placeholder="Enter your message...">
             <button type="submit" class="msger-send-btn">Send</button>
           </form>
         </section>
   </div>
   
   </div>
   <!-- ----------Notes----------- -->
   <section id="card-section">
    <div class="container">
      <h1>Courses :</h1>
       
        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex justify-content-center my-2">
                <div class="card-product"  >
                    <h2>JEE (Physic)</h2>
                    <p>Physics is an interesting subject for most JEE aspirants. A good score from this section requires meticulous planning. Concepts like electricity, mechanics, and magnetism constitute around 65% of the marks distribution. All these concepts are of utmost importance..</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex justify-content-center my-2">
                <div class="card-product">
                    <h2>JEE (Maths)</h2>
                    <p>Math isn't just for math class! Need a Crash Course on Fractions, Graphing, Factoring, or Exponents? Our Crash Course series is a set of free, 30-minute workshops that provide a quick refresher on math skills that you will use in math class.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex justify-content-center my-2">
                <div class="card-product">
                    <h2>JEE (Chemistry)</h2>
                    <p>NCERT is excellent for Inorganic Chemistry, and we have seen a lot of direct NCERT questions being asked in this section. However, other parts of Chemistry, like Physical Chemistry, 
                      require you to refer to other learning materials and books specifically created for JEE preparation.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex justify-content-center my-2">
                <div class="card-product">
                    <h2>Website Designing</h2>
                    <p>Basics of Web Designing.
                      Multimedia and its Applications.
                      Introduction to Web Design & Applications.
                      Computer Graphics.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex justify-content-center my-2">
                <div class="card-product">
                    <h2>Graphic Designing</h2>
                    <p>Introduction to Graphic Design.
                      Adobe Photoshop, Illustrator, XD, Figma
                      Coreldraw & Typography.
                      Shapes, Structures, Designs,Illustrations.
                      .</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex justify-content-center my-2">
                <div class="card-product">
                    <h2>JAVA </h2>
                    <p>Object Oriented Java Programming: Data Structures and Beyond Specialization.</p>
                </div>
            </div>
          
        </div>
        </div>
   </section>
   
   <div id="liveque">
     <h2>Talent is cheaper than table salt. What separates the talented individual from the successful one is a lot of hard work.</h2>
   </div>
   
   <footer class="container-fluid ">
     <div class="container">
         <div class="row footer">
             <div class="offset-lg-4 col-lg-4">
                 <h3 class="text-center">Contact</h3>
                 <div> <hr class="border w-25 mx-auto"></div>
                 <ul class="footer-items my-3 d-flex justify-content-around">
                     <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                     <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                     <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                     <li><a href=""><i class="fa-brands fa-github"></i></a></li>
                 </ul>
             </div>
         
         </div>
     </div>
   </footer>
   </div>
   
       
   </div>
   
   
   <script>
       document.addEventListener("DOMContentLoaded", () => {
         var but = document.getElementById("but");
         var video = document.getElementById("vid");
         var mediaDevices = navigator.mediaDevices;
         vid.muted = true;
         but.addEventListener("click", () => {
         
           // Accessing the user camera and video.
           mediaDevices
             .getUserMedia({
               video: true,
               audio: true,
             })
             .then((stream) => {
         
               // Changing the source of video to current stream.
               video.srcObject = stream;
               video.addEventListener("loadedmetadata", () => {
                 video.play();
               });
             })
             .catch(alert);
         });
       });
   </script>

</body>
</html>
